apiVersion: v1
kind: Namespace
metadata:
  name: ${K8S_NAMESPACE}
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: pod-quota
spec:
  hard:
    pods: "50"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default-service-account-${K8S_NAMESPACE}
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: default-playground-role-${K8S_NAMESPACE}
subjects:
- kind: ServiceAccount
  name: default-service-account-${K8S_NAMESPACE}
  namespace: ${K8S_NAMESPACE}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playground
spec:
  selector:
    matchLabels:
      app: playground
  replicas: 1
  template:
    metadata:
      labels:
        app: playground
    spec:
      serviceAccountName: default-service-account-${K8S_NAMESPACE}
      containers:
      - name: playground
        image: ${IMAGE}
        ports:
        - containerPort: ${PLAYGROUND_PORT}
        env:
        - name: ROCKET_PORT
          value: "${PLAYGROUND_PORT}"
        - name: ROCKET_ENV
          value: ${ENVIRONMENT}
---
apiVersion: v1
kind: Service
metadata:
  name: playground-http
  labels:
    app: playground
spec:
  type: NodePort
  ports:
  - port: ${PLAYGROUND_PORT}
    targetPort: ${PLAYGROUND_PORT}
  selector:
    app: playground
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: playground-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, OPTIONS"
    # nginx.ingress.kubernetes.io/configuration-snippet: |
    #  rewrite_log on;
    #  location ~ /front-end/.* {
    #    rewrite ^/front-end(/.*)?$ https://$host/$1 break;
    #  }
    # nginx.ingress.kubernetes.io/cors-allow-origin: "https://${PLAYGROUND_HOST}"
spec:
  tls:
  - hosts:
    - '*.${PLAYGROUND_HOST}'
    secretName: playground-tls
  rules:
  - host: ${PLAYGROUND_HOST}
    http:
      paths:
      - path: /
        backend:
          serviceName: playground-http
          servicePort: ${PLAYGROUND_PORT}
