[package]
name = "playground"
version = "0.1.0"
authors = ["jeluard <julien@parity.io>"]
edition = "2018"

[dependencies]
log = "0.4.14"
env_logger = "0.9.0"
prometheus = "0.13.0"
hyper = "0.14.16"
hyper-tls = "0.5.0"
json-patch = "0.2.6"
rocket = "0.4.10"
rocket_contrib = { version = "0.4.10", features = ["json"] }
rocket_cors = "0.5.2"
rocket_oauth2 = { version = "0.4.1", features = ["hyper_sync_rustls_adapter"] }
serde = { version = "1.0.135", features = ["derive"] }
serde_json = "1.0.78"
serde_yaml = "0.8.23"
kube = { version = "0.66.0", default-features = true, features = ["jsonpatch"] }
k8s-openapi = { version = "0.13.1", default-features = false, features = ["v1_22"] }
tokio = {version = "1.15.0", features = ["macros", "rt-multi-thread"] }
thiserror = "1.0.30"
git2 = "0.13.25"
clap = { version = "3.0.10", features = ["derive"] }
