apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-volume
  labels:
    vol: prometheus-volume
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi